/.vscode
/workspace.code-workspace
CommandsService/bin/Debug/net5.0/appsettings.Development.json
CommandsService/bin/Debug/net5.0/appsettings.json
CommandsService/bin/Debug/net5.0/AutoMapper.dll
CommandsService/bin/Debug/net5.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
CommandsService/bin/Debug/net5.0/CommandService.deps.json
CommandsService/bin/Debug/net5.0/CommandService.dll
CommandsService/bin/Debug/net5.0/CommandService.exe
CommandsService/bin/Debug/net5.0/CommandService.pdb
CommandsService/bin/Debug/net5.0/CommandService.runtimeconfig.dev.json
CommandsService/bin/Debug/net5.0/CommandService.runtimeconfig.json
CommandsService/bin/Debug/net5.0/Humanizer.dll
CommandsService/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
CommandsService/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Design.dll
CommandsService/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.dll
CommandsService/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.InMemory.dll
CommandsService/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
CommandsService/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
CommandsService/bin/Debug/net5.0/Microsoft.OpenApi.dll
CommandsService/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
CommandsService/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
CommandsService/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
CommandsService/bin/Debug/net5.0/System.Diagnostics.DiagnosticSource.dll
CommandsService/bin/Debug/net5.0/ref/CommandService.dll
CommandsService/obj/CommandService.csproj.nuget.dgspec.json
CommandsService/obj/CommandService.csproj.nuget.g.props
CommandsService/obj/CommandService.csproj.nuget.g.targets
CommandsService/obj/project.assets.json
CommandsService/obj/project.nuget.cache
CommandsService/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
CommandsService/obj/Debug/net5.0/apphost.exe
CommandsService/obj/Debug/net5.0/CommandService.AssemblyInfo.cs
CommandsService/obj/Debug/net5.0/CommandService.AssemblyInfoInputs.cache
CommandsService/obj/Debug/net5.0/CommandService.assets.cache
CommandsService/obj/Debug/net5.0/CommandService.csproj.AssemblyReference.cache
CommandsService/obj/Debug/net5.0/CommandService.csproj.CopyComplete
CommandsService/obj/Debug/net5.0/CommandService.csproj.CoreCompileInputs.cache
CommandsService/obj/Debug/net5.0/CommandService.csproj.FileListAbsolute.txt
CommandsService/obj/Debug/net5.0/CommandService.dll
CommandsService/obj/Debug/net5.0/CommandService.GeneratedMSBuildEditorConfig.editorconfig
CommandsService/obj/Debug/net5.0/CommandService.genruntimeconfig.cache
CommandsService/obj/Debug/net5.0/CommandService.MvcApplicationPartsAssemblyInfo.cache
CommandsService/obj/Debug/net5.0/CommandService.MvcApplicationPartsAssemblyInfo.cs
CommandsService/obj/Debug/net5.0/CommandService.pdb
CommandsService/obj/Debug/net5.0/CommandService.RazorTargetAssemblyInfo.cache
CommandsService/obj/Debug/net5.0/project.razor.json
CommandsService/obj/Debug/net5.0/ref/CommandService.dll
CommandsService/obj/Debug/net5.0/staticwebassets/CommandService.StaticWebAssets.Manifest.cache
CommandsService/obj/Debug/net5.0/staticwebassets/CommandService.StaticWebAssets.xml
CommandsService/.vscode/launch.json
CommandsService/.vscode/tasks.json
